__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
build/
dist/
.venv/
.env*
outputs/
work_dirs/
/data/
checkpoints/
*.pt
*.pth
*.ckpt*
*.mp4
*.jpg
*.tar*
*.npz
*.npy
*.partial
*.pth.*
*.png
*.gif
*.py.pre_*
*.py.before_*
*.yml.pre_*
